services:
  client:
    image: node:alpine
    working_dir: /app
    volumes:
      - ./client:/app
      - ./types:/app/../types
    networks:
      - capital_network
    ports:
      - "3000:3000"
    depends_on:
      server:
        condition: service_started
    healthcheck:
      test: ["CMD-SHELL", "curl -f http://localhost:3000 || exit 1"]
      interval: 60s
      timeout: 5s
      retries: 5
    restart: "on-failure"
    command: sh -c "npm install --legacy-peer-deps && npm run dev"
    container_name: capital_client

  server:
    image: node:alpine
    working_dir: /app
    volumes:
      - ./server:/app
      - ./types:/app/../types
    networks:
      - capital_network
    ports:
      - "8000:8000"
    depends_on:
      postgres:
        condition: service_started
      redis:
        condition: service_started
    healthcheck:
      test: ["CMD-SHELL", "curl -f http://localhost:8000/api/v1 || exit 1"]
      interval: 60s
      timeout: 5s
      retries: 5
    restart: "on-failure"
    command: sh -c "npm install --legacy-peer-deps && npm run dev"
    container_name: capital_server

  postgres:
    image: postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: capital
    volumes:
      - capital_postgres_data:/var/lib/capital/data
      - ./server/schema.sql:/docker-entrypoint-initdb.d/schema.sql
    networks:
      - capital_network
    ports:
      - "5432:5432"
    healthcheck:
      test: ['CMD', 'pg_isready', '-U', 'postgres', '-d', 'capital']
      interval: 60s
      timeout: 5s
      retries: 5
    restart: "on-failure"
    container_name: capital_postgres

  redis:
    image: redis
    ports:
      - "6379:6379"
    networks:
      - capital_network
    volumes:
      - capital_redis_data:/capital/redis_data
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 60s
      timeout: 5s
      retries: 5
    restart: "on-failure"
    container_name: capital_redis

networks:
  capital_network:
    driver: bridge

volumes:
  capital_redis_data:
  capital_postgres_data: