// Import Bootstrap SASS
@import "./variables";
@import "bootstrap/scss/bootstrap";

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: visible;
}

body {
  font-family: $font-family;
  background-color: white;
  color: var(--text-color);
}

div {
  &.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: auto;
    gap: 1.5rem;
    min-height: 100vh;
    text-align: center;
  }

  &.loading {
    color: $primary;
  }

  &.image {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    font-weight: bold;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  
    img {
      max-height: 350px;
      width: auto;
      max-width: 90%;
    }
  }
}

button {
  cursor: pointer;
  box-sizing: border-box;
  border:0;
  border-radius: 7px;
  font-weight: bold;
  font-size:1rem;
  height:2.6rem;
  transition: all 0.5s ease;

  &.primary {
    background-color: $primary;
    width: 100%;
    margin: auto;
    color:white;

    &:hover {
      opacity:0.9;
      box-shadow: rgb(0 0 0 / 10%) 0 4px 6px -1px, rgb(0 0 0 / 6%) 0 2px 4px -1px;
    }
  }

  &.icon {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    gap: 8px;
  }

  &.circle {
    max-width: 50px;
    max-height: 50px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    transform: scale(1);
    transition: transform 1.5s ease-in-out, height 1.5s ease-in-out, width 1.5s ease-in-out, border 1.5s ease-in-out;
    animation-fill-mode: forwards;
    z-index: 2000;

    &.cover {
      opacity: 1;
      width: 100vw;
      height: 100vh;
      transform: scale(250);
    }
  }
}

a {
  color: $primary;
  text-decoration: none;
}