// Import Bootstrap SASS
@import "bootstrap/scss/bootstrap";
@import "./variables"
;
$primary_1: #a2b9bc;
$primary_2: #b2ad7f;
$primary_3: #878f99;

// Custom styles and/or override Bootstrap variables
