@import "./variables";

div {
   &.story {
      width: 20rem;
      margin:auto;
      box-shadow: rgb(0 0 0 / 4%) 0 3px 5px;
  
      .story-image {
        aspect-ratio: 16/9;
        box-shadow: var(--text-color) 0 0 3px;
        overflow: hidden;
       
        img {
          width:100%;
          height:100%;
          object-fit: cover;
        }
      }
   }
}