@import "./variables";

.main {
  gap: 1rem;
}

button {
  width: 8.5rem;
  height: 2.9rem;
  margin: 0;

  &#login{
    background-color: #07EA3A;
  }
 
  &#register{
    background-color: #08B0FF;
  }
}