// MUI-related overrides
input:-webkit-autofill,
.MuiInputBase-root:has(> input:-webkit-autofill) {
  background-color: $autofill-light;
}

body[data-dark="true"] {
  input:-webkit-autofill,
  .MuiInputBase-root:has(> input:-webkit-autofill) {
    background-color: $autofill-dark;
  }

  .nav {
    background-color: hsl(0, 0%, 15%);
  }
}

div {
  &.form-floating {
   z-index: 0;
  }
}
