// MUI overrides
input:-webkit-autofill,
.MuiInputBase-root:has(> input:-webkit-autofill) {
  background-color: $autofill-light;
}

body[data-dark="true"] {
  input:-webkit-autofill,
  .MuiInputBase-root:has(> input:-webkit-autofill) {
    background-color: $autofill-dark;
  }

  .nav {
    background-color: hsl(0deg 0% 15%);
  }

  .css-qtfkgb-MuiInputBase-input-MuiOutlinedInput-input:-webkit-autofill {
    border-radius: 0;
  }
}

div {
  &.form-floating {
   z-index: 0;
  }

  &.MuiAlert-action {
    button {
      --IconButton-hoverBg: none;

      margin-bottom: 4px;
    }
  }
}
